.container {
    width: 1280px;
    margin: 0 auto;
}

.dummy-text {
    font-size: 18px;
    color: greenyellow;
}

.dummy-text {
    font-size: 54px;
    font-weight: 700;
}

.block-1 {
    box-sizing: border-box;
    width: auto;
    height: auto;
    background-color: #27A745;
    padding: 15px 20px;
    border: 10px solid #f0f;
    /*margin: 50px;*/
}

.wrapper {
    width: 800px;
    background-color: gray;
}

.block {
    display: inline-block;
    width: 250px;
    height: 250px;
    background-color: violet;
}